#page-admin-setting-local_edwisertranslate #admin-translateto .defaultsnext {
  display: flex !important;
  flex-direction: column-reverse !important;
  width: 25% !important; }

#page-footer #footer-column-1 #local-translator-wrapper {
  padding-top: 20px; }

#page-footer #local-translator-wrapper #langTranslatorDropdown:not(.theme-dark) {
  border: 1px solid #343A40; }
  #page-footer #local-translator-wrapper #langTranslatorDropdown:not(.theme-dark) .icon {
    filter: brightness(0.1); }
  #page-footer #local-translator-wrapper #langTranslatorDropdown:not(.theme-dark) .selected-language {
    color: #343A40; }

#page-footer #local-translator-wrapper .theme-dark {
  background-color: #222222;
  border: 1px solid #D1D1D1 !important; }
  #page-footer #local-translator-wrapper .theme-dark .selected-language {
    color: #D1D1D1 !important; }

#local-translator-wrapper .dropdown-menu {
  min-width: 81px; }

#local-translator-wrapper #langTranslatorDropdown {
  height: 32px;
  border: none;
  padding: 6px 12px;
  background-color: #FFFFFF; }
  #local-translator-wrapper #langTranslatorDropdown span {
    border-radius: 6px;
    font-weight: 400;
    color: #63718C;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px; }
  #local-translator-wrapper #langTranslatorDropdown .icon {
    margin-right: 4px;
    height: 20px; }

#local-translator-wrapper .dropdown-toggle::after {
  content: none !important; }

#local-translator-wrapper .dropdown-menu.show {
  max-height: 380px;
  overflow-y: auto; }
  #local-translator-wrapper .dropdown-menu.show a {
    color: #4C5A73 !important;
    font-weight: 400;
    font-family: 'Inter'; }

#usernavigation #local-translator-wrapper #langTranslatorDropdown:not(.theme-dark) {
  padding-left: 0px;
  padding-right: 0px; }

#usernavigation #local-translator-wrapper .icon {
  margin-right: 4px; }

#usernavigation #local-translator-wrapper .theme-dark {
  border: 1px solid #D1D1D1;
  background-color: #222222; }
  #usernavigation #local-translator-wrapper .theme-dark .selected-language {
    color: #D1D1D1 !important; }

#usernavigation .darkmode-mobile-dropdown .dm-mobile-text,
#usernavigation .darkmode-mobile-dropdown .em-mobile-text {
  font-family: 'Inter';
  color: #4C5A73;
  font-size: 14px !important;
  font-weight: 400 !important; }

@media (max-width: 426px) {
  #local-translator-wrapper .selected-language {
    display: none; }
  #local-translator-wrapper .icon {
    margin: 0px !important; } }

@media (min-width: 426px) {
  .darkoreditmode {
    display: none; } }

@media (max-width: 426px) {
  .darkmode-mobile-dropdown button {
    margin-top: 15px;
    padding: 0px; }
  #usernavigation #darkmode-mobile-menu {
    min-width: 94px;
    margin-top: 32.5px;
    border: none !important; }
    #usernavigation #darkmode-mobile-menu .nav-darkmode {
      padding: 12px 14px; }
    #usernavigation #darkmode-mobile-menu form {
      padding: 12px 14px; } }

body:not(.edw-translate) #local-translator-wrapper #langTranslatorDropdown {
  display: flex;
  align-items: center;
  gap: 2px; }
  body:not(.edw-translate) #local-translator-wrapper #langTranslatorDropdown .icon {
    margin-right: 0px !important; }
  body:not(.edw-translate) #local-translator-wrapper #langTranslatorDropdown .selected-language {
    color: #343A40;
    font-size: 12px !important;
    font-family: unset !important; }

body:not(.edw-translate) #usernavigation #local-translator-wrapper {
  padding-top: 15px; }

body:not(.edw-translate) #page-footer #local-translator-wrapper {
  padding-bottom: 26.97px; }
  body:not(.edw-translate) #page-footer #local-translator-wrapper #langTranslatorDropdown {
    border-radius: 6px;
    border: 1px solid #343A40; }

body:not(.edw-m502) #usernavigation #darkmode-mobile-menu {
  right: -8px; }

.goog-te-banner-frame {
  display: none !important; }

#goog-gt-tt {
  display: none !important; }

.goog-te-balloon-frame {
  display: none !important; }

.goog-tooltip,
.goog-tooltip:hover {
  display: none !important; }

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important; }

.goog-te-combo {
  display: none !important; }

.skiptranslate {
  display: none !important; }

body {
  top: 0 !important; }
