#page-admin-setting-local_edwisertranslate {
    #admin-translateto {
        .defaultsnext {
            display: flex !important;
            flex-direction: column-reverse !important;
            width: 25% !important;
        }
    }
}
#page-footer {
    #footer-column-1 {
        a {
            color: black !important;
        }
    }
}