{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_edwisertranslate/ templates/lang_switcher.mustache

    This template renders a language translator dropdown or dropup menu.
    It includes a language toggle button, a list of available languages,
    and a placeholder container for Google Translate.

    Example context (json):
    {
        "is_footer": false,
        "currentlang": "en",
        "appearance": true,
        "languages": [
            {
                "name": "English",
                "code": "en",
                "switchurl": "#",
                "isactive": true
            },
            {
                "name": "Español",
                "code": "es",
                "switchurl": "#",
                "isactive": false
            },
            {
                "name": "Français",
                "code": "fr",
                "switchurl": "#",
                "isactive": false
            }
        ]
    }
}}

<div id="local-translator-wrapper" class="{{#is_footer}}dropup{{/is_footer}}{{^is_footer}}dropdown{{/is_footer}}" translate="no">

    <button class="btn btn-secondary dropdown-toggle {{#appearance}}theme-dark{{/appearance}}" type="button" id="langTranslatorDropdown" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#appearance}}
            {{#pix}} dark-globe, local_edwisertranslate {{/pix}}
        {{/appearance}}
        {{^appearance}}
            {{#pix}} light-globe, local_edwisertranslate {{/pix}}
        {{/appearance}}
        <span class="selected-language">{{currentlang}}</span>
    </button>

    <div class="dropdown-menu" aria-labelledby="langTranslatorDropdown">
        {{#languages}}
            <a class="dropdown-item lang-switch-link {{#isactive}}active{{/isactive}}" href="{{switchurl}}" data-lang-code="{{code}}" data-gtlang="{{gtcode}}" data-langname="{{name}}">
                {{name}}
            </a>
        {{/languages}}
    </div>

    <div id="google_translate_element2" style="display:none;"></div>

</div>
